page-quiz {
    .scroll-content{
        background:#343f4b;
    }
    .toolbar-background.toolbar-background-md{
        background:#f53d3d;
    }
    #buttonDificuldade{
        margin-top:100px;
    }
    #buttonDificuldade button{
        margin-top:10px;
        margin-bottom:10px;
    }
}
