page-prova {

    #idBook{
        background-image: url('../assets/imgs/texture.jpg');
    }
    .scroll-content{
        background:#343f4b;
    }
    .toolbar-background.toolbar-background-md{
        background: #f53d3d;
    }
   
}
